<section>
    <div class="center">
        <h1>Регистрация</h1>
        <form>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Имейл</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Потребителско име</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Парола</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Повторна парола</label>
            </div>
            <input type="submit" value="Регистриране">
            <div class="signup_link">
                Регистрирани сте? <a routerLink="/login">Влизане</a>
            </div>
        </form>
    </div>
</section>