<section>
    <form>
        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Име</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="validationDefaultUsername"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Имейл</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="validationDefaultUsername"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Парола</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="validationDefaultUsername"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Повторна парола</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="validationDefaultUsername"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-warning">Register</button>
    </form>

</section>