<section class="home">
    <ul>
        <li>
            <div class="card mb-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img routerLink="/details" src="https://cdn.discordapp.com/attachments/965223259555659828/1230125754432622634/IMG_0091.jpg?ex=66322ee2&is=661fb9e2&hm=ba0a96c02bbfa463fa38fb355a6cddd24150b591f4fdb024826ada98a2fe2a4e&" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">BMW E91 330D</h5>
                            <p class="card-text">BMW 330D 2009 година колата е доста запазена и поддържана винаги на време!</p>
                            <p class="card-text"><small class="text-muted">Последно актуализирана преди 3 минути.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</section>