<section>
    <div class="center">
        <h1>Влизане</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Имейл</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Парола</label>
            </div>
            <div class="pass">Забравена парола?</div>
            <input type="submit" value="Влизане">
            <div class="signup_link">
                Не сте регистрирани? <a routerLink="/register">Регистрация</a>
            </div>
        </form>
    </div>
</section>